*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  margin: 10px 15px;
  border: 2px solid #000;
}

.logo {
  font-size: 20px;
}

.nav .links {
  display: flex;
  list-style: none;
}

.nav .link {
  padding: 0 10px;
  border-right: 1px solid #000;
  font-size: 20px;
}

.nav a {
  text-decoration: none;
  color: #000;
}

.date {
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
  margin: 10px 15px;
  
}

.container {
  margin: 15px;
  
}

.h1 {
  margin: 15px 0;
  text-align: center;
  font-size: 30px;
}

.book-list {
  
  border: 2px solid #000;
  margin-bottom: 35px;
  visibility: hidden;
}

.show-container {
  visibility: visible;
}

.article {
  display: flex;
  gap: 5px;
  
  align-items: center;
  padding: 0 10px;
  
}

.article .title::before,
.article .title::after {
  content: '"'
}



.article .author::before {
  content: ' by ';
}

.article p {
  line-height: 25px;
  font-size: 18px;
}
.article .rmv-div {
  margin-left: auto;
}

article:nth-child(odd) {
  background: #dee2e6;
}

.article .book {
  display: flex;
  gap: 3px;
}

.h2 {
  font-size: 16px;
  margin: 3px 0;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 3px;
  width: fit-content;
}

.form .btn {
  text-align: end;
}

.footer {
  padding: 5px 15px;
  margin: 10px 15px;
  border: 2px solid #000;
}

.footer .copyright {
  font-size: 20px;
}
